body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.product img {
    width: 300px;
    height: 200px;
    object-fit: cover; 
    text-align: center;
    transition: transform 1s ease;
    
}

.product-info {
    padding: 20px;
}

.product-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.product-info p {
    margin-bottom: 10px;
}

.product-info button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-info button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


.product img:hover {
    transform: scale(1.9);
}
.dropdown-content{
    padding:20px;
    text-align: left;
    display: none;

}
.dropdown-content ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Add margin bottom for spacing */
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #555;
}


